.menuDiv{
    position: absolute;
    left: 40%;
    top: 40%;
}
.menuLeftDiv{
    float: left;
    border-style:solid;
    width: 120px;
}
.menuRightDiv{
    float: right;
    border-style:solid;
    width: 120px;
}